.employeelist {
    width: 90vw;
    max-width: 800px;
    margin: 0rem auto;
    display: grid;
    gap: 2rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .employeelist {
        grid-template-columns: repeat(3, 1fr);
        align-items: flex-start;
    }

.employee {
    background: blue;
    border-radius: 0.5rem;
    padding: 0.0rem 0.0rem;
}

.employee h1 {
    background-color: lightblue;
    border-radius: 0.25rem;
}

.employee h4 {
    color: #617d98;
    font-size: 0.75rem;
    margin-top: 0.20rem;
    margin-bottom: 0.25rem;
}

.employee p {
    margin-top: 0.5rem;
}

}
  